.btn {
  margin-top: 15px;
  width: 100%;
  color: $font-color;
  border: none;
  padding: 10px 0;
  text-transform: uppercase;
  border-radius: 5px;

  @media (min-width: $breakpoint-tablet) {
    padding: 10px 30px;

    & + .btn {
      margin-left: 10px;
    }
  }
}

.default {
  background-color: $link-color;
  &:hover {
    background-color: lighten($link-color, $amount: 5%);
  }
}

.error {
  background-color: $error;
  &:hover {
    background-color: lighten($error, $amount: 5%);
  }
}
.info {
  background-color: $info;
  &:hover {
    background-color: lighten($info, $amount: 5%);
  }
}

.success {
  background-color: $success;
  &:hover {
    background-color: lighten($success, $amount: 5%);
  }
}

.warning {
  background-color: $warning;
  &:hover {
    background-color: lighten($warning, $amount: 5%);
  }
}
